* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    background-color: var(--blue-base);
}

::-webkit-scrollbar {
    display: none;
}

input:focus {
    outline: none;
}

.bg-pd {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    background-color: var(--blue-base);
    padding-right: 20px;
    padding-left: 20px;
}
.left-side {
    display: flex;
    color: white;
    font-family: roboto-cons-regular;
    margin-right: 2%;
}
/* .left-a {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    gap: 10px;
} */
   .left-left{
    margin-right: 5px;
  }
  .back:hover{
  cursor: pointer;
  opacity: 60%;
  transition: 0.5s;
}
  .back{
    font-family: roboto-cons-regular;
    display: flex;
    flex-direction: row;
    background: none;
    align-items: center;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
  }
.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.mid p {
    color: white;
    font-family: roboto-cons-bold;
    font-size: 20pt;
    padding-top: 2%;
}
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.content {
    width: 100%;
    height: fit-content;
    background-color: #f6f7f7;
    border-radius: 45px 45px 0px 0px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
}

.row-1 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.left1 {
    width: 50%;
    /* margin-right: 2%; */
}

.left1 img {
    width: 90%;
    height: 90%;
    border-radius: 25px;
}

.left2 {
    width: 50%;
    margin-left: 1%;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 50px;
}

.left2 p {
    color: var(--shade-blue);
    font-family: roboto-cons-regular;
    font-size: 18pt;
}

.left2 h2 {
    color: var(--another-blue);
    font-family: roboto-cons-regular;
    font-size: 18pt;
    margin-top: 3%;
}

.row-2 {
    width: 100%;
}

.title p {
    color: var(--another-blue);
    font-family: roboto-cons-bold;
    font-size: 20pt;
    margin-top: 3%;
}
.title-1 p {
    color: var(--shade-blue);
    font-family: roboto-cons-regular;
    font-size: 13pt;
    margin-top: 0.5%;
    text-align: justify;
}
