:root {
    --white: #ffffff;
    --blue-base: #19a7ce;
    --strong-blue: #0064d2;
    --light-grey: #f6f7f7;
    --shade-blue: #146c94;
    --light-blue: #afd3e2;
    --grey: #d7dce6;
    --grey-dark: #63666c;
    --other-blue: #0090ff;
    --near-black: #1d1e1f;
    --another-blue: #0a4d78;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto-cons-medium;
}

a {
    text-decoration: none;
}

.history-page {
    display: flex;
}

.right-card-body {
    margin-right: 20px;
}

.logo {
    background-color: var(--another-blue);
    width: 20vw;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.logo:hover{
    opacity: 0.6;
    transition: 0.3s;
}

.side-bar-left {
    height: 100vh; /* Full-height: remove this if you want "auto" height */ /* Set the width of the sidebar */
    width: 20vw;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--another-blue);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
    position: relative;
    position: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 100vh;
}

.content-top {
    display: flex;
    flex-direction: column;
}

.content-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    bottom: 40px;
    left: 100px;
}

.btn-submit{
    color: var(--another-blue);
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
}

.btn-submit:hover{
    color: var(--blue-base);
    transition: 0.2s;
}

.content-bottom button:hover{
    color: var(--blue-base);
}


.content-buttom a {
    color: var(--shade-blue);
}

.content-buttom a:hover {
    color: var(--blue-base);
}

.fa-solid {
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    color: var(--another-blue);
}

.myaccount p,
.myorder p,
.history p {
    font-size: 20px;
    color: var(--another-blue);
}

.myaccount,
.myorder,
.history {
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-right: 20px;
    width: 20vw;
}

.myaccount:hover,
.myorder:hover,
.history:hover {
    cursor: pointer;
}

.active,
.active p {
    background-color: var(--another-blue);
    color: white;
}

.active i {
    color: white;
}

.fa-user {
    margin-left: 2px;
    font-size: 20px;
    background-color: transparent;
    color: var(--another-blue);
}

.fa-receipt {
    margin-left: 3px;
    font-size: 20px;
}

.push-right {
    padding-left: 3px;
}

.push-right-1 {
    padding-left: 4px;
}

/* sisi sebelah kanan */
.main {
    width: 80vw;
    margin-left: 20vw;
    background-color: var(--blue-base);
    display: flex;
    flex-direction: column;
    gap: 7vh;
    align-items:flex-start;
    padding-left: 5vw;
    min-height: 100vh;
}

.main-header {
    width: 50vw;
    text-align: left;
    margin-top: 50px;
    /* background-color: #0064d2; */
}

.main-header p {
    font-size: 40px;
    color: var(--white);
}

.no-bookings{
    font-size: 25px;
    color: var(--white);
    opacity: 0.8;
    align-content: center;
}

.all-history {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
}

/* bagian kartu*/
.card {
    width: 70vw;
    height: fit-content;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.card-header,
.card-footer {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.card-header-left {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--shade-blue);
    font-size: 25px;
    /* font-weight: normal; */
    margin-left: 30px;
    margin-right: 50px;
}

.card-header-right{
    margin-top: 20px;
    margin-right: 20px;
    color: var(--shade-blue);
    font-size: 25px;
    /* gap: 0; */
}



.card-header span {
    font-size: 15px;
    color: var(--blue-base);
    font-family: roboto-cons-regular;
    /* margin-top: 0px; */
}

.shadow-line {
    border: 1px solid var(--blue-base);
    border-bottom: 0.011px solid var(--light-blue);
    opacity: 0.5;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.card-body {
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.head-card-body {
    display: flex;
}

.header-left-card-body {
    color: var(--shade-blue);
    font-size: 20px;
}

.content-left-card-body {
    color: var(--shade-blue);
    font-size: 15px;
}

.middle-card-body {
    display: flex;
    flex-direction: column;
}

.desc-middle-card-body {
    color: var(--shade-blue);
}

.bottom-card-body {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
    justify-content: space-between;
}

.left-part {
    display: flex;
    gap: 50px;
}

.icon i {
    color: var(--shade-blue);
    font-size: 30px;
}

.info p {
    color: var(--shade-blue);
    font-size: 25px;
}

.right-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

.btn-right-part {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color: var(--shade-blue);
    color: var(--white);
    border: none;
    margin-right: 10px;
}

.btn-right-part i {
    color: var(--white);
    font-size: 15px;
    margin-left: 5px;
}

.btn-right-part:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--shade-blue);
    border: 1px solid var(--shade-blue);
}

.btn-right-part:hover i {
    color: var(--shade-blue);
}

@media (max-width: 1000px) {
    .content i {
        display: none;
    }
}

@media (max-width: 900px) {
    .logo-img {
        width: 80%;
    }

    .activated-responsive {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .myaccount,
    .myorder,
    .history {
        padding-left: 10px;
    }

    .card-footer p,
    .card-header p,
    .card-footer a {
        font-size: 20px;
    }

    .main-header p {
        font-size: 30px;
    }

    .info p,
    .icon i {
        font-size: 20px;
    }

    .card-header span {
        font-size: 10px;
        color: var(--blue-base);
    }

    .left-part,
    .bottom-card-body {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .card-footer p,
    .card-header p,
    .card-footer a {
        font-size: 15px;
    }

    .myaccount p,
    .myorder p,
    .history p {
        font-size: 15px;
    }

    .main-header p {
        font-size: 25px;
    }

    .info p,
    .icon i {
        font-size: 15px;
    }

    .header-left-card-body {
        font-size: 15px;
    }
}

@media (max-width: 550px) {
    .card-header,
    .card-footer {
        display: flex;
        flex-direction: column;
    }

    .card-footer a {
        margin-left: 50px;
    }
}

@media (max-width: 450px) {
    .card-header p,
    .card-body,
    .card-footer p,
    .card-footer a {
        margin-left: 20px;
    }

    .content i {
        display: block;
    }

    .content p {
        display: none;
    }
}

.normal {
    justify-content: unset;
}
