* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    background-color: var(--blue-base);
}

::-webkit-scrollbar {
    display: none;
}

input:focus {
    outline: none;
}

.bg-pd {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    background-color: var(--blue-base);
    padding-right: 20px;
    padding-left: 20px;
}
.left-side {
    display: flex;
    color: white;
    font-family: roboto-cons-regular;
    margin-right: 2%;
}
.left-a {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    gap: 10px;
}
.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.mid p {
    color: white;
    font-family: roboto-cons-bold;
    font-size: 20pt;
    padding-top: 2%;
}
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.content {
    width: 100%;
    height: fit-content;
    background-color: var(--white);
    border-radius: 45px 45px 0px 0px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
}

.title p{
    color: var(--shade-blue);
    font-family: roboto-cons-bold;
    font-size: 30pt;
}

.country{
    padding: 30px;
    background-color: #f6f7f7;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
}

.country p{
    font-family: roboto-cons-bold;
    font-size: 25px;
    color: var(--shade-blue);
}

.cities{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensure 3 cities per row */
    grid-gap: 50px; /* Adjust gap between cities */
    margin-top: 25px;
}

.cities p{
    font-family: roboto-cons-regular;
    color: var(--shade-blue);
    font-size: 20px;
    padding: 10px 50px 10px 50px;
    background-color: var(--white);
    border-radius: 15px;
    text-align: center;
}

.cities p:hover{
    color: var(--white);
    background-color: var(--shade-blue);
}
