* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* overflow-x: hidden; */
  }
  
  body {
    background-color: var(--blue-base);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  input:focus {
    outline: none;
  }
  
  .bg-pd {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    background-color: var(--blue-base);
    padding-right: 20px;
    padding-left: 20px;
  }

  .left-side{
    display: flex;
    color: white;
    font-family: roboto-cons-regular;
  }

  .left-a{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    gap: 10px;
  }

  .left-a:hover{
    color: var(--light-blue);
  }

  .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .info1{
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
    background-color: var(--white);
    position: relative;
  }

  .info1 p{
    font-family: roboto-cons-medium;
  }

  .circle p{
    color: var(--white);
  }

  .arrow1 i{
    color: var(--white);
  }

  .circle{
    position: absolute;
    top: -8px;
    left: -15px;
    padding: 20px 25px 20px 25px;
    border-radius: 50%;
    background-color: var(--strong-blue);
  }

  .unfinished{
    background-color: var(--white);
  }

  .unfinished p{
    color: var(--strong-blue);
  }

  .info-info1{
    color: var(--strong-blue);
  }
  
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    background-color: #F6F7F7;
    border-radius: 45px 45px 0px 0px;
    padding: 60px 80px 60px 80px;
    display: flex;
    height: fit-content;
    justify-content: space-between;
  }
  
  .left-content {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 3%;
  }
  
  .left1 {
    background-color: white;
    width: 100%;
    display: flex;
    /* height: fit-content; */
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
    margin-bottom: 2%;
    gap: 20px;
  }

  .hotel-pic img{
      padding: 0;
      width: 200px;
      height: 100%;
      border-radius: 20px;
  }

  .left1 p{
    font-family: roboto-cons-medium;
  }

  .hotel-detail{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .top-hotel-detail{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hotel-name p{
    font-size: 30px;
    color: var(--shade-blue);
    font-family: roboto-cons-bold;
  }

  .star i{
    color: #FCB130;
  }

  .type-room p{
    font-size: 20px;
    color: var(--shade-blue);
    font-family: roboto-cons-bold;
  }

  .type-room-detail, .bottom-hotel-detail{
    display: flex;
  }

  .type-room-detail p, .bottom-hotel-detail p{
    color: var(--shade-blue);
  }
  
  .room-capacity, .bed-type, .room-area, .days-ordered, .quantity-room-ordered{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .bed-type, .room-area, .quantity-room-ordered{
    padding-left: 20px;
  }

  .room-capacity i, .bed-type i, .room-area i, .days-ordered i, .quantity-room-ordered i{
    font-size: 20px;
    color: var(--blue-base);
  }

  .room-area p{
    padding-bottom: 5px;
  }

  .left2 {
    background-color: white;
    width: 100%;
    height: fit-content;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 15px;
    margin-bottom: 2%;
    /* font-family: roboto-cons-Bold */
  }
  
  .left2 h2 {
    color: var(--shade-blue);
    font-family: roboto-cons-Bold;
  }
  
  .left2 h3 {
    color: var(--shade-blue);
    font-family: roboto-cons-Bold;
  }
  
  .left2 h5 {
    color: var(--shade-blue);
    font-family: roboto-cons-light;
  }

  .left2 span{
    color: red;
  }
  
  /* stef edit */
  .form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    column-gap: 70px;
    color: var(--shade-blue);
  }
  
  /* stef edit */
  .input {
    position: relative;
  }
  
  .input {
    width: 100%;
    
    border-radius: 10px;
    outline: none;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    transition: 0.3s;
    background-color: var(--shade-blue);
    color: var(--shade-blue);
  }
  .white{
  background-color: white;
  border: 2px solid var(--blue-base);
}
.white input{
  border: none;
  width: 100%;
}
.input h2{
    color: var(--white);
}
  
  .row2 {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    width: 100%;
  }
  
  .nameIn {
    border-radius: 10px;
    height: 28px;
    width: 69%;
    border: 2px solid var(--blue-base);
  }
  
  .gender {
    margin-right: 4%;
  }
  
  .Birth {
    margin-right: 4%;
  }
  
  /* .InputBio{
      height: fit-content;
      width : 105%;
      border: 2px solid var(--blue-base);
      border-radius: 10px;
      padding: 10px;
  } */
  
  .left3 {
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 15px 20px 15px 20px;
    /* padding-top: 15px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 15px; */
    border-radius: 15px;
    /* margin-bottom: 2%; */
  }
  .left3 h2 {
    color: var(--shade-blue);
    font-family: roboto-cons-Bold;
  }
  
  .left3 h3 {
    color: var(--shade-blue);
    font-family: roboto-cons-Bold;
  }
  
  .form2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  /* .row1Form2{
      margin-top: 1%;
  }
  
  .row2Form2{
      display: flex;
      flex-direction: row;
      margin-top: 1%;
  } */
  
  /* .number{
      margin-right: 4%;
  } */
  
  /* .InputBio2{
      height: fit-content;
      width : 105%;
      border: 2px solid var(--blue-base);
      border-radius: 10px;
  } */
  
  .bigContainer-right{
    /* background-color: yellow; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 5%; */
  }
  
  .right-content {
    background-color: white;
    width: 100%;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
  }
  .description{
    background-color: white;
    width: 100%;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-top: 5%;
  }
  .description h3{
    color: var(--shade-blue);
    font-family: roboto-cons-Bold;
  }
  .description input{
    color: var(--shade-blue);
    font-family: roboto-cons-Bold;
  }
  .right-content h2 {
    color: var(--shade-blue);
    font-family: roboto-cons-bold;
  }
  
  .person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    color: var(--shade-blue);
    font-family: roboto-cons-regular;
  }
  
  .fix-price {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    color: var(--shade-blue);
    font-family: roboto-cons-regular;
  }

  .total-tax, .service, .tax{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    color: var(--shade-blue);
    font-family: roboto-cons-regular;
    justify-content: space-between;
  }

  .vertical-line{
    border-left: 1px solid var(--light-blue);
  }

  .tax-detail{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    border-left: 1px solid var(--light-blue);
    padding-left: 7px;
  }
  
  .tax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    color: var(--shade-blue);
    font-family: roboto-cons-regular;
  }
  
  .garis-hor {
    margin-top: 4%;
    margin-bottom: 3%;
    border: 0.8px solid #e6e8e9;
  }
  
  .pass-type {
    margin-top: 2%;
    font-family: roboto-cons-regular;
    color: var(--shade-blue);
  }
  
  .baggage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    color: var(--shade-blue);
  }
  
  .baggage-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .carryOn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    color: var(--shade-blue);
  }
  
  .carryOn-Left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .next{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
  }
  .invisible{
    display: none;
  }
  .next-step{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background-color: var(--strong-blue);
    border-radius: 20px;
    padding-left: 3%;
    /* padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px; */
    color: white;
    font-family: roboto-cons-bold;
  
  }

  .bg-submit{
    font-family: roboto-cons-regular;
    color: white;
    font-size: 18px;
    background-color: var(--another-blue);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px; 
    text-decoration: none;
    cursor: pointer;
    border: none;
  }