*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--blue-base);
}

::-webkit-scrollbar {
  display: none;
}

.bg-flight{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.box-choice{
    background-color: var(--strong-blue);
    display: flex;
    flex-direction: column;
    width: 83vw;
    align-self: center;
    height: 130px;
    border-radius: 25px;
    padding-left: 4%;
    padding-right: 3%;
    position: absolute;
    top: 100px;
}

.top{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    margin-bottom: 3px;
    width: 100%;
    /* height: fit-content; */
}

/* .flight-selected{
    display: flex;
    align-items: center;
} */

.people-selected{
    display: flex;
    align-items: center;
    margin-left: 1%;
}

.seat-option{
    display: flex;
    align-items: center;
    margin-left: 4%;
}

.img{
    margin-right: 5%;
}

.people-opt{
    /* background-color: transparent; */
    border: none;
    color: white;
    border-radius: 20px;
    border: 2px solid var(--strong-blue);
    cursor: pointer;
    background-color: var(--grey);
    color: var(--strong-blue);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.flight-opt{
    /* background-color: transparent;
    border: none;
    color: white; */
    border-radius: 20px;
    border: 2px solid var(--strong-blue);
    cursor: pointer;
    background-color: var(--grey);
    color: var(--strong-blue);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.seat-opt{
    /* background-color: transparent; */
    border: none;
    border-radius: 20px;
    border: 2px solid var(--strong-blue);
    cursor: pointer;
    font-family: roboto-cons-light;
    font-size: 14px;
    background-color: var(--white);
    color: var(--strong-blue);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.seat-opt:focus{
    outline: none;
}

.bottom{
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaving_from{
    position: relative;
    width: 25%;
    height: 58px;
    border-radius: 22px;
    border-style: solid;
    /* margin-left: 4%; */
    margin-right: 2%;
    padding-left: 15px;
    padding-right: 15px;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaving{
    font-family: roboto-cons-bold;
    background-color: transparent;
    border: none;
    align-items: center;
    width: 70%;
    color: white;
}
.leaving::placeholder{
    color: white;
}

.leaving_from input:focus{
    outline: none;
}

.going_to{
    position: relative;
    width: 25%;
    height: 58px;
    border-radius: 22px;
    border-style: solid;
    margin-left: 2%;
    margin-right: 3%;
    padding-left: 15px;
    padding-right: 15px;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.going_to input:focus{
    outline: none;
}

.date{
    width: 25%;
    height: 58px;
    border-radius: 22px;
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.search_button {
    position: absolute;
    right: 30px;
    top: 52%;
    transform: translateY(-50%);
}

.search_button img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.search_button img:hover {
    opacity: 0.9;
}

.vertical{
    border-left: 1px solid white;
    height: 40px;
}
.input_date{
    width: 195px;
    padding: 12px 10px;
    color: white;
    border: none;
    font-family: roboto-cons-light;
    font-size: 20px;
    /* color: var(--grey-dark); */
    background-color: var(--strong-blue9);
}
.input_date:focus{
    outline: none;
}

.input_date::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

.text_date{
    color: white;
}

.rotate-icon {
    width: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.rotate-icon:hover {
    opacity: 0.7;
}

.search-suggestion {
    top: 60px;
    left: 0px;
    width: 100%;
    position: absolute;
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
    z-index: 300;
    box-shadow: 0px 2px 5px rgba(30, 30, 30, 0.2);
    max-height: 300px;
    overflow-y: scroll;
}

.sub-suggest {
    width: 100%;
    color: var(--grey-dark);
    font-family: roboto-cons-light;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.05s ease-in-out;
}

.sub-suggest:hover {
    background-color: var(--grey);
}

.content_flight{
    width: 100vw;
    height: fit-content;
    background-color: #F6F7F7;
    border-radius: 45px 45px 0px 0px;
    margin-top: 55px;
    padding-top: 100px;
    padding-left: 109px;
    padding-right: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2%;
}

.left-box{
    width: 30%;
    height: fit-content;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 30px;
    border-radius: 15px;
}

.titlee{
    font-family: roboto-cons-bold;
    color: #146C94;
}

.opt-flight{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: roboto-cons-regular;
    color: #146C94;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.opt-flight:hover {
    opacity: 0.7;
}

.opt-flight input{
    accent-color: var(--shade-blue);
    width: 20px;
    margin-right: 10px;
}

.opt-price{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    font-family: roboto-cons-regular;
    color: #146C94;
}

.opt-price input{
    accent-color: var(--shade-blue);
    width: 20px;
    margin-right: 10px;
}

.gambar{
    width: 100px;
    height: 100px;
}

.button{
    margin-right: 6%;
}

.sortByFlight{
    display : flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.line{
     border: 0.8px solid var(--grey);
     margin-bottom: 4%;
}

.right-box{
    width: 70%;
    /* height: 500px; */
    /* background-color: gray; */

    /* border-style: solid; */
    height: fit-content;
    /* padding: 1%; */
    display: flex;
    flex-direction: column;
    gap: 5%;


}
.right-box *{
    border-radius: 15px;
    font-family: roboto-cons-regular;
    color: #146C94;
}

.price_sort_container{
    width: 100%;
    height: 10vh;
    background-color: white;
    /* padding: 2%; */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
.price_sort_container *{
    font-family: roboto-cons-regular;
    color: #146C94;
    border-radius: 15px;
}
.rec_price{
    width: 33%;
    height: 100%;
    /* background-color: green; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;


}
.low_price{
    width: 33%;
    height: 100%;
    /* background-color: yellow; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;

}
/* 146C94 */
.sorting_price{
    width: 33%;
    height: 100%;
    /* background-color: blue; */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    gap: 5%;
}

.divider_price{
    height: 100%;
    width: 0.1%;
    background-color: #146C94;
}
.price_number{
    font-family: roboto-cons-bold;
}
.flight_detail{
    width: 100%;
    height: 13vh;
    display: flex;
    margin-top: 1%;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.airline_logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
}

.airline_logo img {
    height: 100%;
    object-fit: contain;
}

.flight_schedule{
    height: 100%;
    width: 31%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.flight_price{
    height: 100%;
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.submit_flight{
    height: 100%;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    /* padding: 5%; */
}
.flight_button{
    height: 50%;
    width: 80%;
    color: white;
    font-size: 1rem;
    border: none;
    font-family: roboto-cons-bold;
    background-color: #146C94;
}

.airport_schedule{
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.divider_schedule{
    height: 100%;
    width: 60%;
    background-image: url("/assets/icon/src-dest.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 10px;
}


/* drop down */
/* .input-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border: 1.5px solid var(--blue-base);
    border-radius: 10px;
} */
/* .input-field {
    width: 400px;
    padding: 15px 25px;
    border: none;
    font-family: roboto-cons-light;
    font-size: 20px;
    color: black;
    border-radius: 10px;
}

.input-date {
    width: 115px;
    padding: 15px 10px;
    border: none;
    font-family: roboto-cons-light;
    font-size: 12px;
    color: var(--grey-dark);
}

.input-date:focus, .input-field:focus{
    outline: none;
} */

.drop-down-select {
    position: relative;
    display: flex;
    flex-direction: row;
}
.display-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 13px 0px;
    width: 190px;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--strong-blue);
    border: 2px solid var(--strong-blue);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.display-info p {
    font-family: roboto-cons-light;
    font-size: 14px;
    color: var(--strong-blue);
    margin-left: 4%;
    margin-right: 1%;
}
.display-info img{
    width: 19px;
    height: 19px;
}

.display-info:focus{
    outline: none;
}

.drop-down-container {
    background-color: var(--white);
    position: absolute;
    padding: 8px;
    border-radius: 10px;
    top: 35px;
    left: 44px;
    z-index: 200;
    box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.2);
    display: none;
}



.num-input {
    width: 160px;
    /* margin-left: 2%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0px;
}
.num-input h4 {
    font-family: roboto-cons-light;
    font-size: 13px;
    /* margin-right: 5%; */
    color: var(--strong-blue);
    font-weight: lighter;
}
.num-input input {
    font-family: roboto-cons-light;
    font-size: 13px;
    color: var(--strong-blue);
    font-weight: lighter;
    width: 30px;
    /* padding: 10px; */
}

/* .left-align {
    justify-content: space-between;
    border: none;
} */

/* .sub-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.sub-input:last-child {
    margin: 0px;
}

.sub-input:first-child {
    margin: 0px;
}

.sub-input img {
    margin-right: 10px;
}

.sub-input select {
    font-family: roboto-cons-light;
    font-size: 20px;
    color: var(--near-black);
    font-weight: lighter;
    border: none;
    background-color: transparent;
} */

/* .option-edit {
    font-family: calibri;
    font-size: 20px;
    color: var(--near-black);
    font-weight: lighter;
} */

.show {
    display: block;
}

.rotate180deg {
    transform: rotate(-180deg);
}
