*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--blue-base);
}

a:hover{
    cursor: pointer;
    text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.navbar-container {
    width: 100vw;
    height: 100px;
    background-color: var(--blue-base);
    padding-right: 20px;
    /* padding-left: 37%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-left{
    display: flex;
    align-items: center;
    text-align: center;
    width: 14%;
    visibility: hidden;
}
.navbar-title{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-family: roboto-cons-bold;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* .navbar-right a{
    color: white;
    font-family: roboto-cons-bold;
    font-size: 14pt;
    margin-right: 10px;
} */

.bg-content{
    background-color: #F6F7F7;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.isi{
    width: 80%;
    height: 495px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-top: -20px; */
}
.top img{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 130px;
    position: absolute;
    top: 120px;
}
.content{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.content-box{
    background-color: var(--blue-base);
    box-shadow: 30px 30px 0.2px 0px #0A4D78;;
    border-radius: 45px 45px 0px 0px;
    width: 65%;
    height: fit-content;
    padding-top: 65px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}.text-1{
    color: white;
    font-family: roboto-cons-bold;
    margin-top: 1%;
}
.text-2{
    margin-top: 1%;
    color: white;
    opacity: 80%;
    font-family: roboto-cons-regular;
}

.mid{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    color: white;
    font-family: roboto-cons-regular;
}
.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    /* background-color: aqua; */
}


.bottom{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.bottom-left a{
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 70px 10px 70px;
    border: none;
    background-color: #C6EEFF;
    color: var(--blue-base);
    font-family: roboto-cons-bold;
}

.bottom-right a{
    background-color: var(--another-blue);
    border-radius: 10px;
    padding: 10px 60px 10px 60px;
    border: none;
    color: white;
    font-size: 15px;
    font-family: roboto-cons-bold;
}

.bottom-left a:hover{
    background-color: var(--white);
    color: var(--blue-base);
}

.bottom-right a:hover{
    background-color: var(--white);
    color: var(--shade-blue);
}

.buttom-right:hover{
    background-color: var(--white);
}

.bottom-right a i {
    margin-left: 10px;
}
