*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    user-select: none;
}

::-webkit-scrollbar {
  display: none;
}
    
.opening {
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    position: relative;
    background-image: url('https://drive.google.com/uc?export=view&id=1jt8Rg0c4b5hp7X3-2Ib6osexfsijso2g');
    background-size: cover;
}

.background-image {
    position: absolute;
    width: 100vw;
    height: fit-content;
    z-index: -10;
}

.slogan {
    text-align: center;
    font-family: roboto-cons-medium;
    font-size: 40px;
    color: var(--white);
}

.main-container {
    padding-top: 150px;
}

.select-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.select-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 101, 209, 0.7);
    border-radius: 40px;
    position: relative;
    transform: translateY(30px);
    cursor: pointer;
}

.select-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

.select-text {
    font-family: roboto-cons-medium;
    color: var(--white);
    font-size: 20px;
    margin-left: 10px;
}

.selected {
    background-color: var(--strong-blue);
    border-radius: 40px;
}

.detail-info {
    background-color: var(--white);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.2);
    display: none;
}

.input-row {
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    border: 1.5px solid var(--blue-base);
    border-radius: 10px;
}

.input-field {
    width: 400px;
    padding: 15px 25px;
    border: none;
    font-family: roboto-cons-light;
    font-size: 20px;
    color: var(--grey-dark);
    border-radius: 10px;
}

.border-input{
    border: 1.5px solid var(--blue-base);
    border-radius: 10px;
}

.input-date {
    width: 195px;
    padding: 15px 10px;
    border-radius: 20px;
    border: none;
    font-family: roboto-cons-light;
    font-size: 20px;
    color: var(--grey-dark);
}

.input-date:focus, .input-field:focus, .sub-input select:focus{
    outline: none;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
    
}

.drop-down-select {
    width: 400px;
    position: relative;
    padding-left: 20px;
    /* padding-right: 20px; */
}

.room-guest-info {
    font-family: roboto-cons-light;
    font-size: 20px;
    color: var(--grey-dark);
    font-weight: lighter;
    margin-top: 15px;
}

.display-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0px;
}

.display-info h2 {
    font-family: roboto-cons-light;
    font-size: 20px;
    color: var(--near-black);
    font-weight: lighter;
    margin-left: 15px;
}

.drop-down-container {
    position: absolute;
    background-color: var(--white);
    padding: 25px;
    border-radius: 10px;
    top: 110px;
    left: -25px;
    z-index: 15;
    box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.2);
    display: none;
}

.num-input {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}

.num-input h4 {
    font-family: roboto-cons-light;
    font-size: 20px;
    color: var(--near-black);
    font-weight: lighter;
}

.num-input input {
    font-family: roboto-cons-light;
    font-size: 18px;
    color: var(--near-black);
    font-weight: lighter;
    width: 50px;
    padding: 10px;
}

.left-align {
    justify-content: space-between;
    border: none;
}

.sub-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding :12px 10px;
}

.sub-input:last-child {
    margin: 0px;
}

.sub-input:first-child {
    margin: 0px;
}

.sub-input img {
    margin-right: 10px;
}

.sub-input select {
    font-family: roboto-cons-light;
    font-size: 20px;
    color: var(--near-black);
    font-weight: lighter;
    border: none;
    background-color: transparent;
}

.option-edit {
    font-family: calibri;
    font-size: 20px;
    color: var(--near-black);
    font-weight: lighter;
}

.flight-src-dst {
    justify-content: space-between;
}

.sub-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sub-text img {
    margin: 0px 20px;
}

.input-text {
    width: 150px;
    font-family: roboto-cons-light;
    font-size: 20px;
    color: var(--grey-dark);
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
}

.rotate-icon {
    width: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.rotate-icon:hover {
    opacity: 0.7;
}

.input-icon {
    position: absolute;
    right: 15px;
    height: 25px;
}

.chevron {
    width: 23px;
    right: 15px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.search-box {
    transform: translateY(-25px);
}

.search-btn {
    text-decoration: none;
    border: none;
    background-color: var(--strong-blue);
    padding: 15px 40px;
    color: var(--white);
    font-family: roboto-cons-medium;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.search-btn:hover {
    background-color: var(--other-blue);
}

.show {
    display: block;
}

.rotate180deg {
    transform: rotate(-180deg);
}

.content{
    background-color: var(--white);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 50px;
}

.recommendation{
    background-color: var(--light-grey);
    padding: 50px;
    border-radius: 20px;
}

.recommend-header{
    color: var(--shade-blue);
    font-family: roboto-cons-bold;
    font-size: 30px;
}

.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.35px;
}

/* ubah ubah gambar */
.card .img-card img{
    width: 350px;
    height: 240px;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.img-card{
    width: fit-content;
    height: auto;
}

.card{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 3px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 350px;
}

.hotel-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.star i{
    color: #FCB130;
}

.dots{
    font-size: 5px;
}

.top-hotel-info{
    display: flex;
    flex-direction: column;
}

.hotel-name{
    color: var(--shade-blue);
    font-size: 20px;
    font-family: roboto-cons-bold;
}

.mid-hotel-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.rating{
    display: flex;
}

.rating-img{
    width: 30%;
}

.rating img{
    width: 70%;
}

.rating-info{
    display: flex;
    align-items: center;
    gap: 2px;
}

.rating-num{
    color: var(--other-blue);
    font-family: roboto-cons-bold;
}

.rating-quantity{
    color: var(--shade-blue);
    font-family: roboto-cons-regular;
}

.price{
    color: var(--shade-blue);
    font-size: 20px;
    font-family: roboto-cons-bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.price span{
    color: var(--grey-dark);
    font-size: 15px;
    font-family: roboto-cons-regular;
    align-self: self-end;
}

.wrapper{
    /* max-width: 1100px; */
    width: 100%;
    position: relative;
}

.arrow{
    font-size: 20px;
    color: var(--shade-blue);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -22px;
}

.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel:where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .card{
    height: 342px;
    list-style: none;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

@media (min-width: 1300px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100%/2) + 16px);
    }
}

@media (min-width: 1250px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100%/3) - 9px);
        gap: 50px;
    }
}

@media (max-width: 1150px) {
    .wrapper .carousel{
        gap: 100px;
    }
}

@media (max-width: 1050px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100%/3));
    }
}

@media (max-width: 1000px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100%/3) + 30px);
    }
}

@media (max-width: 900px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100%/2));
    }
}

@media (max-width: 700px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100%/2) + 50px);
    }
}

@media (max-width: 610px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100%) - 100px);
    }
}

