*{
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    font-family: "roboto-cons-bold";
    font-size: 1.2rem;

}
.container{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    /* flex-direction: column; */

   

}
/* /jalan-jalan/assets/logo/jalan-jalan.svg */
/* https://drive.google.com/uc?export=view&id=%5Bimage_id%5D */
.container_picture_logo{
    /* background-image: "https://drive.google.com/uc?export=view&id=1jPbHmzgPwXno9lg2lngldOWChWTrjcww"; */
    /* background-color: black; */
    
    height: 100%;
    width: 50%;
    display: flex;
    z-index: 9;
    flex-direction: column;
    /* display: flex; */
    justify-content: space-between;
    /* align-items: flex-end; */
    
}
.picture{
    height: 100%;
    width: 60%;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    object-fit: cover;
    z-index: 0;
}
.slogan{
    width: 100%;
    font-size: 3rem;
    margin-bottom: 10%;
    text-shadow: 5px 5px 5px black;
    z-index: 1;
    color: var(--white);
    text-align: center;
}
.logo_container{
    z-index: 100;
    /* background-color: black; */
    display: flex;
    padding: 3%;
}
.form_sign{
    z-index: 10;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background);

    /* background-color: black; */
    justify-content: center;
    align-items: center;
    /* padding: 5%; */
    border-radius: 15px 0px 0px 15px;
}
.form_sign_input{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    /* height: max-content; */
    gap: 5%;
    justify-content: center;
    align-items: center;
    
    /* height: 100%; */
}
.form_sign_container{

    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    /* gap: 1%; */
    /* background-color: blanchedalmond; */
}
.form_sign_container input{
    width: 90%;
    height: 30%;
    /* margin-top: 2%; */
    padding: 3%;
    font-size: 1.1rem;
    background : transparent;
    border : 3px solid #ffff;
    border-radius: 15px;
    color: white;
    
}
.form_sign_container input:focus{
    outline: none;
}
input:focus{

    color: white;
    border : 4px solid #ffff;
    
  
    
}
input:active{
    /* background-color: white; */
    color: white;
    border : 4px solid #ffff;

}
::placeholder{
    color: white;
    opacity: 0.7;
}
#register{
    /* padding-left: -4%; */
    background: #0064D2;
    border : 4px solid #0064D2;
    color: white;
}
#register:hover{
    background-color: #FFC436;
    border : 4px solid #FFC436;
    transition: 0.2s 0.2s ease-in-out;
}
.create_account{
    font-size: 2.1rem;
    color: white;
    
    /* margin-right: 65%; */
}
.opacity{
    font-family: roboto-cons-regular;
    font-size: 1rem;
    opacity: 0.5;
    margin-bottom: 10%;
}
.log_in_button{
    font-size: 0.8rem;
    /* position: absolute; */
    color: var(--light-grey);
    font-family: 'roboto-cons-light';
    
    /* bottom: 0; */
    /* top: 95%; */
    /* left: 59%; */

}
.log_in_button_click{

    font-size: 0.8rem;
    /* padding: 1%; */
    /* position: absolute; */
    color: white;
    bottom: 0;
    /* top: 95%; */
    /* left: 70.7%; */
    font-family: roboto-cons-bold;
    text-decoration: none;
}
.log_in_button_click:hover{
    /* color: #0064D2; */
    text-decoration: underline;
}

.sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: blue; */
    /* justify-self: flex-end; */
    gap: 0.3%;
}
/* .divider-login{
    background-color: white;
    height: 1%;
    width: 90%;
} */
