* {
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

.nav-link hr {
    width: 0px;
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.mid-side {
    width: 40%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.mid-side form{
    width: 100%;
}

.search-bar {
    font-size: 20px;
    font-family: roboto-cons-light;
    color: var(--grey-dark);
    border: none;
    width: 100%;
    border-radius: 40px;
    padding: 15px 25px;
    box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.2);
}

.search-icon {
    width: 20px;
    position: absolute;
    right: -20px;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.nav-link {
    margin: 0px 20px;
    text-decoration: none;
    font-family: roboto-cons-bold;
    font-size: 20px;
    color: var(--white  );
    transition: ease-in-out 0.2s;
}

.nav-link:hover {
    opacity: 0.6;
}

.active hr{
    display: block;
    width: 40%;
    border: 1.5px solid var(--white);
    color: var(--white);
}

.scrolled {
    background-color: var(--strong-blue);
    box-shadow: 0px 0px 5px rgba(30, 30, 30, 0.5);
}

.scrolled .search-bar {
    box-shadow: none;
}

#nav-search:focus{
    outline: none;
}
